.top-panel{
    background-color: #1e88e5;
    padding-top: 12px;
    padding-bottom: 12px;
}

.home-title{
    color: #ffffff;
    margin-bottom: 23px; 
}

h1 {
    font-size: 3.6em;
    color: inherit;
}

h2{
    font-size: 2em;
    color: inherit;
}

