<div class="container">
  <h3 class="text-center"> Post your screenshot here! </h3>

  <div class="row upload-container">
    <div class="col-md-12" style="padding: 0px">
      <div class="panel panel-primary copyright-wrap" id="copyright-wrap" style="margin: 0px;">
        <div class="panel-heading" style="font-size: 20px; background-color: #212121; padding: 11px 12px;">Choose a game and upload your picture:
          <a routerLink="/upload">
            <button type="button" class="close" style="outline-style: none; padding: 0px;"> <i class="material-icons" style="font-size: 22px; line-height: 32px;">arrow_back</i></button>
          </a>
        </div>
        <div class="panel-body">
          <div class="row">
            <!-- Image container -->
            <div class="col-md-6" style="margin-top: 12px;">
              <div class="wrapper">
                <div class="js--image-preview"></div>
                <div class="upload-options">
                  <label><input type="file" class="image-upload" accept="image/*" (change)="onChangeImage($event)" /></label>
                </div>
              </div>
            </div>
            <!-- Information container -->
            <div class="col-md-6" style="margin-top: 12px;">
              <!-- Game Title -->
              <div class="form-group">
                <label class="control-label">Game</label>
                <div *ngIf="!gameName; else elseSelectedGame">
                  <div class="input-group">
                    <input [(ngModel)]="uGameName" name="uGameName" class="form-control" id="focusedInput" type="text" placeholder="Search" (keyup)="callTimer()"
                      (blur)="clearGameName()" (focus)="focusGameName()">
                    <div *ngIf="showGameItems;" class="userlist" #uploadGameItemsList>
                      <app-upload-game-item *ngFor="let ugi of uploadGameItems;" [ugi]="ugi" (click)="selectPublishedGame(ugi.id, ugi.name)"> </app-upload-game-item>
                    </div>
                    <span class="input-group-btn">
                        <div class="sk-circle">
                          <div *ngIf="isSearchingGame">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                          </div>
                        </div>
                    </span>
                  </div>

                </div>
                <ng-template #elseSelectedGame>
                  <div class="input-group">
                    <input class="form-control" id="focusedInput" type="text" value="{{gameName}}" disabled>
                    <span class="input-group-btn">
                      <button class="btn btn-back" type="button" (click)="deselectGame()">
                        <i class="material-icons" style="font-size: 8x; line-height: 22px; color:#212121;">cancel</i>
                      </button>
                    </span>
                  </div>
                </ng-template>
              </div>
              <!-- Category -->
              <div class="form-group">
                <label class="control-label">Category: </label>
                <select name="xd" class="form-control" [(ngModel)]="screenshotData.categoryId">
                    <option value="-1" selected="true" disabled="disabled" style="all: unset; display: none;"> Select category </option>
                    <option *ngFor="let c of categories;" value="{{c.id}}"> {{c.name}} </option>
                 </select>
              </div>
              <!-- Description -->
              <div class="form-group">
                <label class="control-label">Description</label>
                <textarea [(ngModel)]="screenshotData.ssDescription" class="form-control" rows="2" id="textArea" style="resize: none;" placeholder="Brief description about the interface"></textarea>
              </div>
              <!-- Tags -->
              <div class="form-group">
                <label class="control-label">Tags</label>
                <div [ngClass]="getTagActive()">
                  <div *ngFor="let tag of screenshotData.ssTags; let i = index" style="all: unset; display: inline-block;">
                    <div [ngClass]="(i==selectedTagIndex)?'chiptag-selected':'chiptag'"> {{tag}} <span class="chipCloseBtn" (click)="removeTag(i)"> &times; </span> </div>
                  </div>
                  <input class="form-control tag-input" [(ngModel)]="lTagToAdd" name="lTagToAdd" id="focusedInput" type="text" (blur)="setTagActive(false)"
                    (focus)="setTagActive(true)" (keyup)="tagToProcess($event.keyCode)" maxlength="20" [placeholder]="getTagPlaceholder()">
                </div>
              </div>
            </div>
            <!-- submit -->
            <div class="col-md-12" style="margin-top: 16px;">
              <div class="form-group">
                <a (click)="uploadScreenshot()" class="btn btn-primary btn-lg btn-block">SUBMIT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>