.gallery_product{
    padding: 12px 12px;
}

.gallery_product_hover:hover{
    background-color:  rgba(0,0,0,0.05);
    cursor: pointer;
}

.image-item-vertical{
    width: 336px; 
    height: 189px
}

.image-item-horizontal{
    width: 100%; 
    height: auto;
}

.text-center-horizontal{
    text-align: left;
}

.text-center-horizontal{
    margin-top: 0px;
}


@media (max-width: 1199px){
    .text-center-horizontal{
        margin-top: 12px;
        text-align: center;
    }
}

/* style="width: auto; max-width: 100%; height: auto; max-height: 320px;"*/
.image-item-vertical{
    width: auto; 
    max-width: 100%; 
    height: auto; 
    max-height: 320px;
}

@media (min-width: 1551px) {
    .image-item-vertical{
        width: 288px; 
        height: 162px;
    }
}

@media (max-width: 1550px) {
    .image-item-vertical{
        width: 240px; 
        height: 135px;
    }
}

@media (max-width: 1199px) {
    .image-item-vertical{
        width: 336px; 
        height: 189px
    }
}

@media (max-width: 760px) {
    .image-item-vertical{
        width: 336px; 
        height: 189px
    }
}

@media (max-width: 400px) {
    .image-item-vertical{
        width: 304px; 
        height: 171px;
    }
}

@media (max-width: 359px) {
    .image-item-vertical{
        width: 256px; 
        height: 144px;
    }
}


h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
}

h4{
    color: #111111;
    font-size: 1.2em;
    margin-top: 12px;
    margin-bottom: 6px;
}
