<app-authform>
  <div class="container">
    <div id="fullscreen_bg" class="fullscreen_bg">
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <div class="card card-container">
        <h1 class="profile-name-card">Welcome back!</h1>
        <form class="form-signin">
          <input type="text" [(ngModel)]="lUsername" name="lUsername" class="form-control" placeholder="Username or email" required autofocus (blur)="validateInput('username')">
          <span class="help-inline"></span>
          <input type="password" [(ngModel)]="lPassword" name="lPassword" class="form-control" placeholder="Password" required>
          <span class="help-inline"></span>
          <p><a routerLink="/passwordrecovery" class="forgot-password">Forgot password?</a></p>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="getUsernameMail()">SIGN IN</button>
          <p>New to Attene? <a routerLink="/register" class="forgot-password">Sign up</a></p>
          <span class="help-inline" hidden> <p class="text-center"> Invalid credentials, please try again.</p></span>
        </form>
      </div>
    </div>
  </div>
</app-authform>