<div class="container-fluid" style="padding-top: 32px">
  <div class="col-md-7 col-md-offset-1" style="margin-top: 16px">
    <div class="interface-container">
      <img src="https://firebasestorage.googleapis.com/v0/b/attene-cf230.appspot.com/o/screenshot%2Fthumbnail%2Fhello2.png?alt=media&token=a055c967-0d1c-4ae9-bc9a-2b7e71e52cdd"
        class="img-responsive" style="width: 100%">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="pull-left">
            <h4> <strong> Rocket League</strong> </h4>
            <h5> Start Screen </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius vulputate elit in blandit. Aenean ut ante nunc. Nulla
              eget pellentesque felis. Praesent egestas luctus libero, in dignissim ipsum congue quis. Duis dui ante, laoreet
              ac libero sed, viverra ornare orci. Orci varius natoque penatibus et magnis dis parturient montes.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="stats">
            <h5> Statistics </h5>
            <div class="stats-group">
              <h6> <i class="material-icons interface-stats">remove_red_eye</i> 455 views </h6>
              <h6> <i class="material-icons interface-stats">thumb_up</i> 50 upvotes </h6>
              <h6> <i class="material-icons interface-stats">favorite</i> Favorite </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="margin-top: 16px">
    <div class="row">
      <div class="col-md-12">
        <div class="interface-container">
          <h4> Uploaded by <strong> TVBlink </strong></h4>
          <h4> Published on Aug 18, 2016</h4>
        </div>
      </div>
      <div class="col-md-12" style="margin-top: 12px">
        <div class="interface-container">

          <div class="row">
            <div class="col-md-12" style="padding: 0px 15px 15px 15px">
              <h5 style="margin-bottom: 0px"> <strong> Suggestions </strong> </h5>
            </div>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>