<div class="container-fluid" style="padding-top: 8px">
  <div class="col-md-7 col-md-offset-1" style="margin-top: 16px">
    <div class="interface-container">
      <img src="https://firebasestorage.googleapis.com/v0/b/attene-cf230.appspot.com/o/screenshot%2Fthumbnail%2Fhello2.png?alt=media&token=a055c967-0d1c-4ae9-bc9a-2b7e71e52cdd"
        class="img-responsive" style="width: 100%">
      <div class="row interface-data">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="pull-left">
            <h4> <strong> Rocket League</strong> </h4>
            <h5> Start Screen </h5>
            <h6> Published on Aug 18, 2016. Uploaded by <strong> TVBlink </strong> </h6>
            <p style="text-align: justify;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius vulputate elit in blandit. Aenean ut ante nunc. Nulla
              eget pellentesque felis. Praesent egestas luctus libero, in dignissim ipsum congue quis. Duis dui ante, laoreet
              ac libero sed.
            </p>

            Tags:
            <div *ngFor="let tag of tags; let i = index" style="all: unset; display: inline-block;">
              <div class="chiptag"> <a [routerLink]="tag" style="display: block;"> #{{tag}}  </a> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="stats">
            <h5> Statistics </h5>
            <div class="stats-group">
              <h6> <i class="material-icons interface-stats">remove_red_eye</i> 455 views </h6>
              <h6> <i class="material-icons interface-stats">thumb_up</i> 50 upvotes </h6>
              <h6> <i class="material-icons interface-stats">favorite</i> Favorite </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="margin-top: 16px">
    <div class="row">
      <div class="col-md-12">
        <div class="interface-container">

          <div class="row">
            <div class="col-md-12" style="padding: 0px 15px 15px 15px">
              <h5 style="margin-bottom: 0px"> <strong> Suggestions </strong> </h5>
            </div>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
            <app-interface-thumbnail [it]="test"></app-interface-thumbnail>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>