.interface-container {
    background-color: #ffffff;
    /* just in case there no content*/
    padding: 20px 25px 20px;
    margin: 0 auto;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.interface-data{
    margin-top: 8px;
}

.interface-stats{
    line-height: 36px; 
    height: 36px; 
    vertical-align: middle;
    padding: 0 6px;
}

@media (max-width: 991px) {
    .stats h6{
        display: inline-block;
    }
    
    .stats-group{
        text-align:center;
    }
}

.stats h6{
    margin: 3px 0px;
}

.chiptag{
    font-size: 14px;
	user-select: none;
	white-space: nowrap;
	position: relative;
	margin: 0 2px 0 2px;
	display: inline-block;
	height: 30px;
	border-radius: 0 0px 0px 0;
	padding: 0 6px 0 6px;
	background: #ebebeb;
	border: 0 solid #C7D2D4;
	color: #616161  ;
	line-height: 30px;
	font-family: 'Helvetica Neue', sans-serif;
	margin-top: 5px;
	margin-bottom: 5px;
	list-style: none;
}

.interface-button-icon{
    font-size: 16px;
    line-height: 16px;
    height: 18px;
    vertical-align: middle;
}

.stats .row{
    margin-top: 6px;
    margin-bottom: 6px;
}

.interface-link {
    color: #2196f3;
    text-decoration: none;
}
.interface-link:hover {
    color: #42a5f5;
    text-decoration: underline;
}

.interface-error, .interface-loading{
    padding: 6px;
    color: #e0e0e0;
}

.interface-error > hr{
    margin: 11px 0px;
}

.interface-error > h4{
    color: #fafafa;
}

.interface-loading > h3{
    color: #424242;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    margin: auto;
    margin-top: 95px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}