<app-authform>
  <div class="container">
    <div id="fullscreen_bg" class="fullscreen_bg">
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
      <div class="card card-container">
        <h1 class="profile-name-card">Forgot your password?</h1>
        <form class="form-signin">
          <input type="text" [(ngModel)]="lIdentifier" name="lIdentifier" class="form-control" placeholder="Please enter your username or email" required autofocus>
          <span class="help-inline"></span>
          <hr style="border-color: rgba(0, 0, 0 ,0); margin: 12px;">
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="getUsernameMail()">RESET PASSWORD</button>
          <span class="help-inline"> <p class="text-center"></p></span>
        </form>
      </div>
    </div>
  </div>
</app-authform>