.top-panel{
    background-color: #1e88e5;
    padding-top: 12px;
    padding-bottom: 24px;
}

.row, h4{
    color: #eeeeee;
}

p{
    color: #ffffff;
    margin-bottom: 0px; 
}

h2{
    color: #ffffff;
}

.website-link {
    color: #eeeeee;
    text-decoration: underline;
}
.website-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.nav-tabs-game{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.nav-tabs-game > li{
    display: inline-block;
    float:none;
}