<div class="container-fluid">
  <div class="fb-profile" style="margin-top: 0px;">
    <div class="row">
      <div class="col-md-12">
        <div class="wrapper">
          <div class="js--image-preview"></div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 128px;">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <img align="left" class="fb-image-profile thumbnail" src="https://images.igdb.com/igdb/image/upload/t_cover_big/edkpgyqgfsxyiby9pyj5.jpg"
              alt="Profile image example" style="width: 100%" />
          </div>
        </div>

      </div>
      <div class="col-md-7">
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <h1>Rocket League</h1>
              <h2>Psyonix</h2>
              <h3>7th Jul, 2015</h3>
            </div>
          </div>
          <div>
          </div>
        </div>


      </div>
    </div>
    <!-- /container -->