<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- Menu and brand name -->
        <a class="navbar-brand navbar-toggle-menu" (click)="openSideBar()"><i class="material-icons">menu</i></a>
        <a class="navbar-brand">
          <div class="navbar-brand-logo" > <a routerLink="/"> Attene </a> </div>
        </a>
        <!-- Search box -->
        <div class="col-sm-6 col-md-6">
          <form class="navbar-form" role="search">
            <div class="input-group" style="width: 100%; max-width: 500px;">
              <input type="text" class="form-control form-control-search" placeholder="Search" name="q">
              <div class="input-group-btn" style="width: 40px; padding-left: 1px !important;">
                <button type="submit" class="btn btn-default navbar-option"><i class="material-icons material-icons-size">search</i></button>
              </div>
            </div>
          </form>
        </div>
        <ng-template [ngIf]="loadedUser">
        <ul class="nav navbar-nav navbar-right" style="padding: 0px 16px">
          <li><a class="navbar-brand navbar-item" routerLink="/upload"><i class="material-icons">file_upload</i></a></li>
          <li *ngIf="loggedIn;" style="height: 64px;"><a class="navbar-user navbar-item"><p>TVBlink</p></a></li>
          <li *ngIf="loggedIn;" style="margin-left: 15px;"><a class="navbar-brand navbar-item" (click)="logout()"><i class="material-icons">exit_to_app</i></a></li>
          <li *ngIf="!loggedIn;">
            <div class="navbar-form navbar-login-option">
              <button type="submit" class="btn btn-primary navbar-option" routerLink="/login">SIGN IN</button>
            </div>
          </li>
        </ul>
        </ng-template>
      </div>
    </div>
  </nav>
</div>